<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <!-- Click events of links will bubble up to this mat-nav-list element -->
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>

      <a mat-list-item>
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>

      <a mat-list-item>
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>

      <a mat-list-item routerLink="/example/lesson-drag-drop">
        <mat-icon>drag_indicator</mat-icon>
        <span>Example: Lesson Drag Drop</span>
      </a>

      <a mat-list-item routerLink="/example/course-tree">
        <mat-icon>account_tree</mat-icon>
        <span>Example: Course Tree</span>
      </a>

      <a mat-list-item routerLink="/example/course-virtual-scroll">
        <mat-icon>unfold_more_double</mat-icon>
        <span>Example: Course Virtual Scroll</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    <a mat-button [mat-menu-trigger-for]="dropdown">Screens</a>

    <mat-menu #dropdown>
      <button mat-menu-item routerLink="/">Courses</button>
      <button mat-menu-item routerLink="/about">About</button>
      <button mat-menu-item routerLink="/example/lesson-drag-drop">Example: Lesson Drag Drop</button>
      <button mat-menu-item routerLink="/example/course-tree">Example: Course Tree</button>
      <button mat-menu-item routerLink="/example/course-virtual-scroll">Example: Course Virtual Scroll</button>
    </mat-menu>

    <a mat-button>
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </a>

    <a mat-button>
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </a>
  </mat-toolbar>

  <router-outlet />
</mat-sidenav-container>