<mat-grid-list [cols]="gridCols" [rowHeight]="gridRowHeight">
    @for(course of courses; track course.title) {
        <mat-grid-tile>
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title>{{ course.title }}</mat-card-title>
                </mat-card-header>

                <img mat-card-image [src]="course.imageUrl" />

                <mat-card-content>
                    <p>{{ course.description }}</p>
                </mat-card-content>

                <mat-card-actions class="course-actions">
                    <button mat-raised-button [routerLink]="['/', 'course', course.id]">View Course</button>
                    <button mat-raised-button (click)="onClickEdit(course)">Edit Course</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    }
</mat-grid-list>